*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100Vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    /* padding: 25px; */
    grid-gap: 10px;
    padding: 40px;
    background-color: rgb(3, 58, 3);
    align-items: center;
    justify-content: center;
    

}

.box{
    background-color: rgb(46, 172, 8);
    /* border: 2px solid rgb(11, 158, 11); */
    /* grid-gap: 40px; */
    /* margin: 50px; */
    height: 180px;
    width: 240px;
    border-radius: 20px;
    position: relative;
    

   

}
.item{

    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    /* font-size: 8px; */
    margin-left: 15px;
    
}
.item h1{
    margin-left: 5px;
   font-size: 30px;
}


    

.icon{
    background-color: aqua;
    border: 2px solid black;
    height: 90px;
    width: 90px;
    border-radius: 20px;
    position: absolute;
    top: -30px;
    left: 20px;
   
    
 
}

.box:first-child{
    background-color: rgb(124, 124, 201);
}